[mysqld]
slow_query_log = 1                       # 启用慢查询日志
slow_query_log_file = /var/lib/mysql/slow.log  # 设置日志文件路径
long_query_time = 1                      # 设置慢查询阈值，单位：秒
log_queries_not_using_indexes = 1        # 记录未使用索引的查询（可选）
default-time-zone='Asia/Shanghai'
log_timestamps = SYSTEM